<footer class="row">
  <div class="col-md-4">
    <p>
      <strong>{{ site.title }}</strong>
    </p>
    <p>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </p>
  </div>
  <div class="col-md-2">
    <p><a href="https://www.github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i> {{ site.github_username }}</a></p>
    <p><a href="https://www.twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i> {{ site.twitter_username }}</a></p>
  </div>
  <div class="col-md-6">
    {{ site.description }}
  </div>
</footer>
