body {
  padding-top: 40px;
}

.footer {
  border-top: lighten($gray-base, 73.5%) solid 1px;
  margin-top: 35px;
  padding-top: 25px;
  color: $gray-light;

  i {
    color: $gray-light;
  }
}

#main {
  .main-cols {
    margin: 10px 0px;
  }
}

.cv-link {
  margin-top: 30px;
  margin-bottom: 30px;
}
